body {
  background: rgba(136, 93, 241, 0.3);
      font-family: "Poppins", sans-serif;
    color: rgba(250, 250, 250, 1);
}
header {
  border-bottom: 1px solid rgba(167, 82, 101, 0.1);
  margin: 0 18px 0 18px;
  text-align: center;
}

main{
  padding: 22px;
}
a {
  color:#6a45ce;

}
.weather-app{
  background: linear-gradient(360deg, #e173fc 0%, #8b66f1 100%);
  box-shadow: 2px 0px 13px 7px rgba(139, 102, 241, 0.2);
   border-radius: 20px;
  max-width: 600px;
  max-height: 900px;
  margin: 80px auto;
  padding: 20px;
}
.search-form {
  padding: 17px 0 30px 0;
}

.box-input {
    border: none;
    border-radius: 10px;
    background-color: #6a45ce;
    color: white;
    font-size: 16px;
    padding: 18px;
    width: 465px;
}
.box-input::placeholder{
  color:white;
}
.box-button {
    border: none;
    border-radius: 10px;
    background-color: #6a45ce;
    box-shadow: 7px 6px 6px rgba(129, 63, 78, 0.2);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    padding: 18px;
    width: 80px;
}
.life-data-today {
  align-items:flex-start;
  display: flex;
  height: 260px;
  justify-content: space-between;
}
.city-weather-app{
  font-size: 48px;
  line-height: 70px;
  margin: 15px 0 19px 0; 
}
.date-weather-app {
  line-height: 20px;
  font-size: 15px;
  padding-top: 20px;
}
.display-temperature-weather-app {
  display: flex;
}
.temperature-weather-app {
font-size: 70px;
font-weight: 550;

}
.emoji-weather-app {
  width: 110px;
  height: 110px;
  margin: 0 30px 0 0;
}
#icon {
  display: flex;
  
}
.unit-weather-app {
  margin: 18px 0 0 10px;
  font-size: 23px;
  font-weight: 550;
}
footer {
  border-top: 1px solid rgba(167, 82, 101, 0.1);
 color: rgba(250, 250, 250, 1);
  font-size: 14px;
  margin: 0 18px 0 18px;
  text-align: center;
  padding: 21px 0 0 0;
}

.weather-forcast{
 text-align: center;
 line-height: 15px;
 margin-bottom: 10px;
}
.forcast-day {
  font-size: 16px;
}
.forcast-icon {
  width: 40px;
  margin-bottom: 11px;
}
.forcast-temp {
  font-family: 13px;
}
.forcast-temp-min {
  opacity: 0.7;
}